body {
  font-family: "Cairo", sans-serif;
  background-color: #a8d977;
}

section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  margin-top: 100px;
  background-color: white;
  border-radius: 15px;
  padding: 50px;
}

section a {
    text-decoration: none;
}

section h1, h2 {
    text-align: center;
}

main {
    padding: ;
}

#primeira-semana {
    background-color: #6387F2;
    border-radius: 15px;
}

#segunda-semana {
    background-color: #6387F2;
    border-radius: 15px;
}

section img {
    background-color: #0c2e59;
    border-radius: 15px;
}

footer img {
    border-radius: 100%;
    width: 50px;
    height: 50px;  
}